DirectoryIndex index.php
 
    RewriteEngine on
 
    RewriteCond $1 !^(index\.php|images|stylesheets|system/application/sources/)
 
    RewriteCond %{REQUEST_FILENAME} !-f
 
    RewriteCond %{REQUEST_FILENAME} !-d
 
    RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]

    php_value max_input_vars 10000

<Files ~ "\.pdf$">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>
<Files ~ "\.docx$">
  Header set X-Robots-Tag "noindex, nofollow"
</Files>